<div id="mainnav">
    <div id="mainnav-menu-wrap">
        <div class="nano">
            <div class="nano-content">
                <ul id="mainnav-menu" class="list-group">
                    <!--Category name-->
                    <li class="list-header">Navigation</li>
                    <!--Menu list item-->
                    <li> <a href="#/"> <i class="fa fa-home"></i> <span class="menu-title"> Home </span> </a> </li>
                    <li> <a href="#/about"> <i class="fa fa-list"></i> <span class="menu-title"> About </span> </a> </li>
                    <li> <a href="#/contact"> <i class="fa fa-phone"></i> <span class="menu-title"> Contact </span> </a> </li>
                    <li> <a href="#/product"> <i class="fa fa-cart-plus"></i> <span class="menu-title"> Product </span> </a> </li>
            </div>
        </div>
    </div>
</div>